.ng-busy {
  z-index: 1002;
}
.ng-busy-backdrop {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  z-index: 1001;
  background: #000;
  opacity: .7;
}
@keyframes busy-spinner-anim {
  50% { transform: rotate(180deg) scale(1.5); }
  100% { transform: rotate(360deg) scale(1); }
}

.pydt-spinner {
  z-index:1003;
  position: fixed;
  top:0;
  left:0;
  background: url(img/pydt_large.png) no-repeat fixed center;
  background-size: 100px;
  height: 100%;
  width:100%;
  animation: busy-spinner-anim 2s linear infinite;
}