.panel {
  margin-top:10px;
}

.panel-body {
  padding: 10px 15px;
}

.panel-heading {
  padding: 5px 15px;
}

.currentTurn {
  background-color: #ccffcc;
}

.thumbnail {
  margin-bottom: 0px;
}

button {
  margin-top: 10px;
}

small {
  font-size: 11px;
  line-height: 22px;
}