<div class="panel" [ngClass]="{'panel-default': !yourTurn, 'panel-primary': yourTurn}">
  <div class="panel-heading" style="height:32px;overflow:hidden;"><a href="javascript:void(0)" (click)="openGameOnWeb()">{{game.displayName}}</a><small *ngIf="game.gameTurnRangeKey > 1" class="pull-right">Last turn {{lastTurn()}} ago</small></div>
  <div class="panel-body">
    <div class="row" style="padding-left:13px;padding-right:13px;">
      <div *ngFor="let player of gamePlayers; let i = index;" class="col-{{game.slots}}-slots" style="padding-left:2px; padding-right:2px;">
        <pydt-player [game]="game" [player]="player" [gamePlayerProfiles]="gamePlayerProfiles" [civDef]="civDefs[i]"></pydt-player>
      </div>
    </div>
    <div *ngIf="yourTurn && game.gameTurnRangeKey > 1">
      <button type="submit" class="btn btn-primary btn-xs btn-block" (click)="playTurn()">Play Your Damn Turn!</button>
    </div>
    <div *ngIf="yourTurn && game.gameTurnRangeKey === 1">
      <button type="submit" class="btn btn-primary btn-xs btn-block" (click)="openGameOnWeb()">You must submit the initial game turn on the website.</button>
    </div>
  </div>
</div>