.panel {
  margin-top:10px;
}

.panel-body {
  padding: 10px 15px;
}

.panel-heading {
  padding: 5px 15px;
}

button {
  margin-top: 10px;
}

small {
  font-size: 11px;
  line-height: 22px;
}

.panel-primary a, .panel-primary a:hover {
  color: white;
  text-decoration: underline;
}

.panel-default a, .panel-default a:hover {
  color: black;
  text-decoration: underline;
}