<div>
  @if (updateAvailable) {
    <button
      type="button"
      class="btn btn-sm btn-primary"
      style="position: fixed; top: 0; left: 20px; z-index: 1000; border-top-left-radius: 0; border-top-right-radius: 0"
      (click)="promptForUpdate()"
    >
      Update Available - Click to Install
    </button>
  }
  <button
    type="button"
    class="btn btn-sm btn-secondary"
    [disabled]="refreshDisabled"
    style="position: fixed; top: 0; right: 20px; z-index: 1000; border-top-left-radius: 0; border-top-right-radius: 0"
    (click)="refresh()"
  >
    Refresh
  </button>
  @if (hasUnreadSmack) {
    <button
      type="button"
      class="btn btn-sm btn-secondary"
      style="position: fixed; top: 0; right: 85px; z-index: 1000; border-top-left-radius: 0; border-top-right-radius: 0"
      (click)="clearSmack()"
    >
      Clear All Smack Talk Notifications
    </button>
  }
  @if (errorLoading) {
    <h1>There was an error loading your games. Please check your internet connection.</h1>
  }
  @if (!errorLoading) {
    @if (games?.length === 0) {
      <h1>You have no games. :(</h1>
    }
    @if (games) {
      <div style="margin-top: 35px">
        @for (game of sortedTurns; track game) {
          <div>
            <pydt-game
              [game]="game"
              [user]="user"
              (smackRead)="smackRead(game.gameId, $event)"
              [discoursePostNumber]="discourseInfo[game.gameId]"
              [gamePlayerProfiles]="gamePlayerProfiles"
              [yourTurn]="game.yourTurn"
            ></pydt-game>
          </div>
        }
      </div>
    }
  }
</div>
