<router-outlet></router-outlet>
 
<div bsModal #aboutModal="bs-modal" class="modal fade" tabindex="-1" role="dialog" aria-labelledby="aboutModalLabel" aria-hidden="true">
  <div class="modal-dialog modal-lg">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" (click)="aboutModal.hide()" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
        <h4 class="modal-title">Play Your Damn Turn Client</h4>
      </div>
      <div class="modal-body">
        <p>Version {{version}}</p>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-default" (click)="aboutModal.hide()">OK</button>
      </div>
    </div>
  </div>
</div>