<router-outlet></router-outlet>
 
<ng-template #aboutModal>
  <div class="modal-header">
    <button type="button" class="close" (click)="hideOpenModal()" aria-label="Close">
      <span aria-hidden="true">&times;</span>
    </button>
    <h4 class="modal-title">Play Your Damn Turn Client</h4>
  </div>
  <div class="modal-body">
    <p>Version {{version}}</p>
  </div>
  <div class="modal-footer">
    <button type="button" class="btn btn-default" (click)="hideOpenModal()">OK</button>
  </div>
</ng-template>

<ng-template #settingsModal>
  <div class="modal-header">
    <button type="button" class="close" (click)="hideOpenModal()" aria-label="Close">
      <span aria-hidden="true">&times;</span>
    </button>
    <h4 class="modal-title">Settings</h4>
  </div>
  <div class="modal-body">
    <form #settingsForm="ngForm">
      <tabset>
        <tab heading="General">
          <div class="checkbox">
            <label>
              <input type="checkbox" style="top:-5px;" name="launchCiv" [(ngModel)]="settings.launchCiv"> Automatically launch Civ after downloading save
            </label>
          </div>
          <div class="checkbox">
            <label>
              <input type="checkbox" style="top:-5px;" name="startOnBoot" [(ngModel)]="settings.startOnBoot"> Start client on boot
            </label>
          </div>
          <div class="form-inline" [ngClass]="{ 'has-error': numSaves.errors }">
            <div class="form-group">
              <span>Archive</span>
              <input type="text" class="form-control input-sm" [(ngModel)]="settings.numSaves" name="numSaves" #numSaves="ngModel" required digits [gte]="0" style="width:100px;display:inline;">
              <span>saves in the pydt-archive folder</span>
            </div>
          </div>
        </tab>
        <tab *ngFor="let civGame of civGames" [heading]="civGame.displayName" style="padding-top: 5px;">
          <div class="row" *ngIf="gameStoreOptions(civGame).length > 1">
            <label class="col-xs-3 control-label force-horizontal-label text-left">Game Store</label>
            <div class="col-xs-9">
              <select class="form-control" name="civ6store" [ngModel]="settings.getGameStore(civGame)" (ngModelChange)="settings.setGameStore(civGame, $event)" >
                <option *ngFor="let opt of gameStoreOptions(civGame)" [ngValue]="opt.value">{{ opt.key }}</option>
              </select>
            </div>
          </div>
          <div class="row">
            <label class="col-xs-3 control-label force-horizontal-label text-left">Default Save Path</label>
            <div class="col-xs-9">
              <p class="form-control-static">{{settings.getDefaultSavePath(civGame)}}</p>
            </div>
          </div>
          <div class="row">
            <label class="col-xs-3 control-label force-horizontal-label text-left">Override Save Path</label>
            <div class="col-xs-9">
              <p class="form-control-static">
                {{settings.getSavePath(civGame, false) || 'Not Set!'}}&nbsp;&nbsp;
                <button class="btn btn-primary btn-xs" (click)="openDirectoryDialog(civGame)">Set</button>&nbsp;
                <button class="btn btn-danger btn-xs" *ngIf="!!settings.getSavePath(civGame, false)" (click)="settings.setSavePath(civGame, '')">Clear</button>
              </p>
            </div>
          </div>
        </tab>
      </tabset>
    </form>
  </div>
  <div class="modal-footer">
    <button type="button" class="btn btn-primary" (click)="saveSettings()" [disabled]="!settingsForm.form.valid">Save</button>
    <button type="button" class="btn btn-default" (click)="hideOpenModal()">Cancel</button>
  </div>
</ng-template>

<ng-template #updateModal>
  <div class="modal-header">
    <button type="button" class="close" (click)="hideOpenModal()" aria-label="Close">
      <span aria-hidden="true">&times;</span>
    </button>
    <h4 class="modal-title">Update Available</h4>
  </div>
  <div class="modal-body">
    <p>Version {{newVersion}} is downloaded and ready to install.  Click the <b>Update!</b> button below to install.</p>
  </div>
  <div class="modal-footer">
    <button type="button" class="btn btn-default" (click)="hideOpenModal()">Cancel</button>
    <button type="button" class="btn btn-primary" (click)="applyUpdate()">Update!</button>
  </div>
</ng-template>

<ng-template #manualUpdateModal>
  <div class="modal-header">
    <button type="button" class="close" (click)="hideOpenModal()" aria-label="Close">
      <span aria-hidden="true">&times;</span>
    </button>
    <h4 class="modal-title">Update Available</h4>
  </div>
  <div class="modal-body">
    <p>Version {{newVersion}} is available, but auto updates are not supported on this platform.  Please go download the new version from playyourdamnturn.com!</p>
  </div>
  <div class="modal-footer">
    <button type="button" class="btn btn-primary" (click)="hideOpenModal()">OK!</button>
  </div>
</ng-template>

<pydt-busy></pydt-busy>